body {
  background-color: #ffffff;
  overflow: hidden;
  margin: 0;
  height: 100vh;
}


.Comments-Scroll::-webkit-scrollbar {
  display: none;
}

.textAnimation {
  animation-name: colorChange;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}


@keyframes colorChange {
  0% {
    color: red;
  }

  50% {
    color: rgb(241, 240, 248);
  }

  75% {
    color: rgb(108, 6, 241);
  }
}